name: Release

on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'Commit SHA or tag to build and release'
        required: true

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.commit }}

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'
        cache: 'npm'
        cache-dependency-path: 'frontend/package-lock.json'

    - name: Build frontend
      run: |
        cd frontend
        npm install
        npm run build

    - name: Copy frontend to backend
      run: |
        mkdir -p backend/static
        cp -r frontend/dist/* backend/static

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: lowercase repo
      id: lowercase-repo
      run: |
        echo "REPO=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./backend
        push: true
        tags: |
          ghcr.io/${{ steps.lowercase-repo.outputs.repo }}:${{ github.event.inputs.commit }}
          ghcr.io/${{ steps.lowercase-repo.outputs.repo }}:latest
        build-args: |
          VERSION=${{ github.event.inputs.commit }}

